@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/ - v2.0 | 20110126 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
* {box-sizing: border-box}

/* @font-face */
@font-face {
  font-family: 'texgyrescholaregular';
  src: url('../fonts/texgyreschola-regular-webfont.eot');
  src: url('../fonts/texgyreschola-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/texgyreschola-regular-webfont.woff') format('woff'),
       url('../fonts/texgyreschola-regular-webfont.ttf') format('truetype'),
       url('../fonts/texgyreschola-regular-webfont.svg#texgyrescholaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face{
    font-family:'Chip Regular';
    src:url("../../../grauna/fonts/chip_ss_crouwel.woff2") format("woff2"),url("../fonts/chip_ss_crouwel.woff") format("woff");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:'Chip Italic';
    src:url("../../../grauna/fonts/chip_ssi_crouwel.woff2") format("woff2"),url("../fonts/chip_ssi_crouwel.woff") format("woff");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:'Chip Bold';
    src:url("../../../grauna/fonts/chip_ssb_crouwel.woff2") format("woff2"),url("../fonts/chi p_ssb_crouwel.woff") format("woff");
    font-weight:normal;
    font-style:normal
}

@font-face {
  font-family: 'the-dada-duetos';
  src:url('../fonts/the-dada-duetos.eot?cvaie3');
  src:url('../fonts/the-dada-duetos.eot?#iefixcvaie3') format('embedded-opentype'),
    url('../fonts/the-dada-duetos.ttf?cvaie3') format('truetype'),
    url('../fonts/the-dada-duetos.woff?cvaie3') format('woff'),
    url('../fonts/the-dada-duetos.svg?cvaie3#the-dada-duetos') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'the-dada-duetos';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duetos-01-01:before {content: "\61";}
.icon-duetos-01-02:before {content: "\31";}
.icon-duetos-02-01:before {content: "\62";}
.icon-duetos-02-02:before {content: "\32";}
.icon-duetos-03-01:before {content: "\63";}
.icon-duetos-03-02:before {content: "\33";}
.icon-duetos-04-01:before {content: "\64";}
.icon-duetos-04-02:before {content: "\34";}
.icon-duetos-05-01:before {content: "\65";}
.icon-duetos-05-02:before {content: "\35";}
.icon-duetos-06-01:before {content: "\66";}
.icon-duetos-06-02:before {content: "\36";}


/* HTML */
html {
  overflow: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #fce7dd;
  transition: all .2s;
  font-family: 'texgyrescholaregular', serif;
  color: #e01142;
}
.anus {cursor: none;}


/* Title */
h1 {
  position: relative;
  color: #e01142;
  font-size: 26px;
  text-align: center;
  margin-top: 10%;
}
/*.on h1 {color: #e01142;}*/


/* Descrição */
section {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4%;
  font-size: 18px;
  line-height: 26px;
  max-width: 570px;
  margin: 0 auto;
  color: #e01142;
  z-index: 99;
  cursor: pointer !important;
  display: none;
}

section a {
  display: block;
  color: #e01142;
  padding: 30px;
  text-decoration: none;
  cursor: pointer !important;
}

section a:hover {
  color: #fce7dd;
  text-decoration: none;
}

section a em {
  position: relative;
  z-index: 10;
}

section a em:before {
  content: '';
  background-color: #fce7dd;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  margin-left: -3px;
  z-index: 0;
  transition: all .3s .1s;
}

section a:hover em:before {
  padding: 0 3px;
  width: 100%;
  z-index: -1;
}

section a:hover p em:before {
  transition-delay: .3s;
}


/* Hand */
.hand {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin: -35px 0 0 -35px;
  pointer-events: none;
}

.on .hand {
  transform: rotate(-90deg) translateX(-15px) !important;
  top: 96% !important;
  bottom: 0 !important;
  left: 50% !important;
  margin-top: -160px;
  margin-left: -400px;
  transition: all .4s;
}

.hand span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 400px;
  text-align: center;
  color: #471013;
  transform: rotate(90deg) translateX(-15px);
  animation: point 2s infinite ease-in-out;
}
@keyframes point {50% {transform: rotate(90deg) translateX(15px);}}

.hand span:before {
  position: absolute;
}

.icon-duetos-01-01:before {
  top: -130px;
  left: -280px;
}
.icon-duetos-02-01:before {
  top: -145px;
  left: -310px;
}
.icon-duetos-03-01:before {
  top: -125px;
  left: -310px;
}
.icon-duetos-04-01:before {
  top: -190px;
  left: -310px;
}
.icon-duetos-05-01:before {
  top: -130px;
  left: -325px;
}
.icon-duetos-06-01:before {
  top: -142px;
  left: -275px;
}


/* Anus */
.anus {
  width: 100%;
  height: 100%;
  text-align: center;
}

.anus {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  line-height: 100vh;
  color: #e01142;
}

.anus span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 70px;
  height: 70px;
  display: block;
  overflow: hidden;
  transition: transform .2s, opacity .4s;
  /*transition: all .2s;*/
}

.anus span:before {
  position: relative;
  top: -40px;
  left: -40px;
  font-size: 150px;
  transition: all .2s;
}
.anus span:hover:before {
  top: -30px;
  left: -30px;
  font-size: 130px;
}

.anus span:active:before {
  top: -15px;
  left: -15px;
  font-size: 100px;
}

.anus span a {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 99
}


/* On */
body.on {
  background-color: #471013;
}

.on .hand span, .on h1 {
  color: #fce7dd;
}

.on .anus span {
  transform: scale(0);
  opacity: 0;
}


/* Header imported from Graúna */
.header{
    color:#fc1547;
    font-family:'Chip Regular',-apple-system,'.SFNSText-Regular','San Francisco','Roboto','Segoe UI','Helvetica Neue','Lucida Grande',sans-serif;
    font-size:32px;
    line-height:32px
}
.header a{
    position:relative;
    text-decoration:none;
    color:inherit;
    display:block
}
.header a:hover::before,.header a:focus::before{
    background:currentColor
}
.header a::before{
    content:'';
    width:calc(100% + 1px);
    height:2px;
    position:absolute;
    bottom:6px;
    left:-1px;
    background:transparent;
    -webkit-transition:all 0.2s;
    transition:all 0.2s
}
@media (max-width: 1140px){
    .header a::before{
        bottom:2px
    }
}
@media (max-width: 768px){
    .header a::before{
        height:1px;
        bottom:2px
    }
}

.header,.sub-header{
    z-index: 9999999;
    position:absolute;
    width:100%;
    background:white;
    height:60px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    padding:2px 2em 0;
    text-transform:uppercase
}
.header ul,.sub-header ul{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    text-transform:uppercase
}
.header li,.sub-header li{
    position:relative;
    margin-right:30px
}
.header li::after,.sub-header li::after{
    content:'/';
    position:absolute;
    top:0;
    right:-23px;
    opacity:0.5
}
.header li:last-child,.sub-header li:last-child{
    margin-right:0
}
.header li:last-child::after,.sub-header li:last-child::after{
    display:none
}
.header li.home::after,.sub-header li.home::after{
    opacity:1
}
.header li.home a::before,.sub-header li.home a::before{
    height:3px
}
.header li.on a::before,.sub-header li.on a::before{
    background:currentColor
}
.header > .menu > li.home,.sub-header > .menu > li.home{
    font-family:'Chip Bold',sans-serif
}
.header.sub-header,.sub-header.sub-header{
    height:40px;
    margin-top:2px;
    -webkit-box-pack:end;
    -ms-flex-pack:end;
    justify-content:flex-end
}
@media (max-width: 1140px){
    .header,.sub-header{
        height:50px;
        font-size:16px;
        line-height:16px
    }
    .header li,.sub-header li{
        margin-right:20px
    }
    .header li::after,.sub-header li::after{
        right:-14px
    }
    .header.sub-header,.sub-header.sub-header{
        height:30px
    }
}
@media (max-width: 768px){
    .header li.home a::before,.sub-header li.home a::before{
        height:2px
    }
}
@media (max-width: 576px){
    .header,.sub-header{
        height:70px;
        padding:0.5em 1em;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -ms-flex-direction:column;
        flex-direction:column;
        -webkit-box-align:start;
        -ms-flex-align:start;
        align-items:flex-start;
        -ms-flex-pack:distribute;
        justify-content:space-around
    }
    .header li,.sub-header li{
        margin-right:12px
    }
    .header li::after,.sub-header li::after{
        right:-10px
    }
}
